<div>
  <!-- Home -->
  <ul>
    <li><a href="{{ '/' | relative_url-- 2 kolommen -->
  <div style="display: flex; gap: 40px;">
    
    <!-- Airports -->
    <div>
      <strong>Airports:</strong>
      <ul>
        {% for page in site.pages %}
          {% if page.path contains 'airports/' %}
            <li>
              <a href="{{ page.url }}">
                {{ page.name | replace: ".md", "" }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- Airplanes -->
    <div>
      <strong>Airplanes:</strong>
      <ul>
        {% for page in site.pages %}
          {% if page.path contains 'airplanes/' %}
            <li>
              <a href="{{ page.url }}">
                {{ page.name | replace: ".md", "" }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
